{% extends 'matches/base.html' %}

{% block content %}
    {% if user.is_superuser %}
        <form action="{% url 'edit_match_summary' pk=match.pk %}">
            <input type="submit" value="Edit summary" />
        </form>
    {% endif %}
    <div class="match-summary">
        <p> Venue: <b>{{ match.homeTeam.homeArena }} </b> </p>
        <p> Date: <b> {{ match.date|date:"M d, Y" }} </b></p>
        <p> Result: <br>
        <b>{{ match.homeTeam }}</b> : {{ match.homeTeamScore }} <br>
        <b>{{ match.awayTeam }}</b> : {{ match.awayTeamScore }}
    </div>
{% endblock %}
