{% load staticfiles %}
<html>
    <head>
        <title>New's feed</title>
    </head>
    <body>
        <div>
            <form action="{% url 'post_list' %}">
                <input type="submit" value="Home Page" />
            </form>
            <form action="{% url 'post_new' %}">
                <input type="submit" value="New post" />
            </form>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
