{% extends 'newsfeed/base.html' %}

{% block content %}
    {% for post in post_page %}
        <div>
            <h1><a href="{% url 'post_in_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p><i>Published: {{ post.created_date }}</i></p>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_in_detail' pk=post.pk %}">Comments: {{ post.news_comments.count }}</a>
        </div>
    {% endfor %}
    <hr>
    <div>
        <span>
            <span>
                Page {{ post_page.number }} of {{ post_page.paginator.num_pages }}
            </span><br>

            {% if post_page.has_previous %}
                <a href="?page={{ post_page.previous_page_number }}">Go to previous page</a>
            {% endif %}

            {% if post_page.has_next %}
                <a href="?page={{ post_page.next_page_number }}">Go to next page</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
