{% extends 'newsfeed/base.html' %}

{% block content %}
    <div>
        {% if user.is_superuser %}
            <form action="{% url 'post_edit' pk=post.pk %}">
                <input type="submit" value="Edit this post" />
            </form>
            <form action="{% url 'post_remove' pk=post.pk %}">
                <input onclick="myFunction()" type="submit" value="Remove this post" />
            </form>
        {% endif %}
        <script>
        function myFunction() {

             var r = confirm("Are you sure?");
             if (r == true) {
                return true;
             } else {
                 return false;
             }
        }
        </script>
    </div>
    <div>
        {% if post.created_date %}
            <div>
                {{ post.created_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <hr>
    <a href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comment.all %}
        <div>
            {{ comment.created_date }}
            <strong>{{ comment.author }}</script>
            <p>{{ comment.text|linebreaks }}
        </div>
    {% empty %}
        <p> No comments yet... </p>
    {% endfor %}

{% endblock %}
