{% extends 'forum/base.html' %}

{% block content %}
    {% if user.is_superuser %}
        <form action="{% url 'edit_forumpost' pk=forumpost.pk %}">
            <input type="submit" value="Edit this post" />
        </form>

        <form action="{% url 'remove_forumpost' pk=forumpost.pk %}">
            <input type="submit" onclick="myFunction()" value="Remove this post" />
        </form>

        <script>
        function myFunction() {
             var r = confirm("Are you sure?");
             if (r == true) {
                return true;
             } else
                 return false;
        }
        </script>

    {% endif %}

    <div class="forumpost">
        <p><i>Created: {{ forumpost.timeStamp }}</p></i>
        <h2>Author: {{ forumpost.author }} </h2>
        <h1>{{ forumpost.title }}</h1>
        <p> {{ forumpost.post }}</p>
    </div>
{% endblock %}

<script>
function clicked()
{
    //if(!confirm('Are you sure?'))e.preventDefault();
    confirm("Are you sure?");
}
</script>
