{% extends 'forum/base.html' %}

{% block content %}

    {% for forumPost in post_page %}
    <div class="forumpost">
        <span class="date">{{ forumPost.timeStamp }}</span>
        <h2><a href="{% url 'forumpost_detail' pk=forumPost.pk %}">{{ forumPost.title }}</a><span class="author"> by {{ forumPost.author }}</span></h2>
        <p>{{ forumPost.post|truncatechars:100|linebreaksbr }}</p>
        <div class="comment"><span class="comment-content"><a href="{% url 'forumpost_detail' pk=forumPost.pk %}">{{ forumPost.forum_comments.count }} responses</a></span></div>
    </div>
    {% endfor %}
    <hr>

    {% include 'paginate.html' %}
    
{% endblock %}

<style>
    .forumpost {
        width: 100%;
        height: 60px;
        background-color: green;
    }
</style>