{% extends 'teams/base.html' %}

{% block content %}
    {% if user.is_superuser %}
        <form action="{% url 'add_player' %}">
            <input type="submit" value="Add player" />
        </form>
    {% endif %}
    <br>
    <b> Team roster: </b>
    {% for player in team_players %}
    <div class="player-container">
        <span>
            <a href="{% url 'player_summary' pk=player.pk %}">{{ player.name }}</a>
            {{ player.height }} cm.
            {% if user.is_superuser %}
                <a href="{% url 'edit_player' pk=player.pk %}"> (Edit) </a>
            {% endif %}
        </span>

    </div>
    {% endfor %}
{% endblock %}
