<style>
    h1 {
        text-align: center;
    }
    
    h2 {
        font-style: italic;
        font-size: 18px;
    }
    
    .author-container {
        width: 100%;
        background-color: #fafafa;
        /*text-align: right;*/
        padding-left: 15px;
    }
    
    .forumpost {
        background-color: #fafafa;
        margin-bottom: 5px;
        
    }
    .date {
        color: grey;
    }
    .comment {
        padding-left: 30px;
        background-color: #fafafa;
        margin: 4px 0 4px 0;
    }
    
    .author {
        font-size: 12px;
        font-style: italic;
        color: grey;
    }
    .comment-author {
        font-size: 15px;
    }
    
    .post-content {
        background-color: #fafafa;
        width: 80%;
        padding: 5px;
        margin: auto;
    }
    #id_title, #id_post {
        width: 40%;
    }
    input, button {
        position: relative;
        background-color: #fafafa;
        border: 1px solid orange;
        border-radius: 3px;
        width: 10%;
        height: 30px;
        /*margin: auto;*/
        /*left: 30%;*/
        margin: 3px;
    }
    
    form {
        text-align: center;
    }
</style>